html{
    width: 100%;
    height: 100%;
}

body{
    background-color: azure;
}

.content{
    background-color: white;
    margin: auto;
    max-width: 80%;
}

#header{
    text-align: center;
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30pt;
}

.container{
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap;
    border-style: solid;
}

.controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*.grid{
    display: grid;
    grid-template-columns: repeat(16, 30px);
    grid-template-rows: repeat(16, 30px);
}*/

.grid-item{
    border-style: solid;
}

.grid-item:hover{
    background-color: black;
}

.blackfill{
    border-style: solid;
    background-color: black;
}

.control-title{
    font-family: 'Pangolin', cursive;
    font-size: 24pt;
}

.grid-holder{
    min-height: 300px;
    min-width: 300px;
}

button{
    align-items: center;
    background-color: rgba(240, 240, 240, 0.26);
    border: 1px solid #DFDFDF;
    border-radius: 16px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: flex;
    font-family: 'Pangolin', cursive;
    font-size: 18px;
    justify-content: center;
    line-height: 28px;
    max-width: 100%;
    padding: 14px 22px;
    text-decoration: none;
    transition: all .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

.control-hold{
    margin-bottom: 30px;
}