body{
    margin-left: 130px;
    margin-right: 130px;
    background-color: azure;
}

#header{
    text-align: center;
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30pt;
}

.container{
    display: flex;
    border-style: dashed;
    justify-content: space-between;
}

.controls{
    border-style: dashed;
}

.grid{
    border-style: solid;
    display: grid;
    grid-template-columns: repeat(16, 10px)
}

.grid-item{
    border-style: solid;
}